$background-color:          #111111;
$foreground-color:          #222222;
$text-main-color:           #ffffff;
$text-accent-color:         #666666;
$text-highlight-color:      #8c0000;
$accent-purple:             #3b0264;
$accent-blue:               #002fa6;
$accent-orange:             #dc6f04;
$accent-green:              #008d03;
$accent-red:                #ae0000;

$soft-red:                  #e62e25;

$input-background:          #333333;
$input-background-selected: #666666;
$input-text:                #ffffff;
