// Common classes

@import "colors";

.round {
	@extend %rounded-corners;
}

.font-accent {
	color: $text-accent-color;
}

ul.horizontal {
	list-style: none;

	li {
		float: left;
		margin-right: 20px;
	}
}

.extLink {
	margin-left: 8px;
	margin-bottom: 2px;
}

#buildInfo {
	font-size: 11px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	float: right;
	cursor: default;
}

.hidden {
	display: none;
}

.italic {
	font-style: italic;
}
