@import "../properties";

	@function stylesheet-url($path) {
		@return url($rootUrl + "css/" + $path)
	}

	@function image-url($path) {
		@return url($rootUrl + "images/" + $path)
	}

	@mixin mobile {
		@media only screen and (max-width: 767px) {
			@content;
		}
	}

	@mixin not-mobile {
		@media only screen and (min-width: 768px) {
			@content;
		}
	}

$helper-first-include: true !default;
@if $helper-first-include {
	%rounded-corners {
		border-radius: 2px;
	}

	%popup-links {
		[target="_blank"]::after {
			margin-left: .5em;
			content: image-url("/external.png");
		}
	}

	$helper-already-imported: false;
}
