// Color Scheme:
//   Background: #111111
//   Foreground: #222222
//   Font Main: #FFFFFF
//   Font Accent: #666666
//   Font Highlight: #8C0000
//   Purple Accent: #3b0264
//   Blue Accent: #002fa6
//   Orange Accent: #dc6f04
//   Green Accent: #008d03
//   Red Accent: #ae0000

//***************** Global Element Styles *******************/

body {
	background-color: #111111;
	color: #FFFFFF;
	font-family: Century Gothic, sans-serif;
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
}

a:link, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

input, textarea, select {
	background-color: #333333;
	border: 1px solid #333333;
	border-radius: 2px;
	color: #ffffff;
	font-size: 16px;
	font-family: Century Gothic, sans-serif;
}

input:focus, textarea:focus, select:focus {
	border-color: #dc6f04;
	background-color: #666666;
}

input[type="text"],
input[type="password"] {
	height: 26px;
	padding: 0px 5px 0px 5px;
}

textarea {
	resize: none;
	padding: 5px;
}

fieldset {
	border-width: 3px;
	border-style: solid;
	border-color: #111111;
	border-radius: 3px;
	margin: auto;
	padding: 10px;
}

legend {
	border-width: 2px;
	border-style: solid;
	border-color: #111111;
	border-radius: 3px;
	background-color: #111111;
	padding: 5px 8px 5px 8px;
	margin-left: 25px;
}

input.error {
	border: solid 1px #ae0000;
}

textarea.error {
	border: solid 1px #ae0000;
	vertical-align: middle;
}

label.error {
	margin-left: 15px;
	display: inline;
	color: #ae0000;
}

.shaded > tbody > tr:nth-child(even),
.shaded > thead > tr {
	background-color: #111111;
}

.shaded tbody > tr > td,
.shaded thead > tr > th {
	padding: 10px;
}

//***************** Common classes *************************/

.round {
	border-radius: 2px;
}

.font-accent {
	color: #666666;
}

ul.horizontal {
	list-style: none;
}

ul.horizontal li {
	float: left;
	margin-right: 20px;
}

.extLink {
	margin-left: 8px;
	margin-bottom: 2px;
}

#buildInfo {
	font-size: 11px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	float: right;
	cursor: default;
}

.hidden {
	display: none;
}

.italic {
	font-style: italic;
}

//***************** Message Styles *************************/

.message {
	color: #ffffff;
	height: 40px;
	padding: 8px;
	font-weight: bold;
	position: fixed;
	display: block;
	line-height: 35px;
	width: 100%;
	z-index: 998;
	top: 0px;
}

.message.error {
	background-color: #ae0000;
}

.message.warn {
	background-color: #dc6f04;
}

.message.info {
	background-color: #002fa6;
}

.message.success {
	background-color: #008d03;
}

.message .exit {
	cursor: pointer;
	position: absolute;
	top: -3px;
	right: 23px;
	font-weight: bold;
	z-index: 999;
}

.message img:first-child {
	width: 28px;
	height: 28px;
	margin-right: 16px;
	margin-top: -14px;
	position: relative;
	top: 50%;
	float: left;
	z-index: 999;
}

/******************** Page Content *************************/

#wrapper {
	width: 1024px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#content {
	background-color: #222222;
	min-height: 350px;
	padding: 15px 15px 35px 15px;
	display: block;
	position: relative;
	overflow: hidden;
	clear: right;

	h1 {
		font-size: 30px;
		margin-bottom: 8px;
	}
}

#loader {
	position: absolute;
	top: 10px;
	right: 10px;
	visibility: hidden;
}

//******************** Main Header *************************/

#pageHeader {
	height: 75px;
	margin-bottom: 10px;

	img {
		width: 300px;
		height: 70px;
	}

	h1 {
		font-size: 60px;
		display: inline;
		margin-left: 10px;
		position: relative;
		bottom: 15px;
		text-align: center;
	}
}

//******************** Navigation Menu *************************/

#pageHeader nav {
	float: right;
	margin-top: 23px;

	ul li {
		display: inline-block;
		list-style-type: none;
		margin-left: 20px;
		background-color: #222222;
		width: 110px;
		height: 35px;
		text-align: center;
		position: relative;

		ul li a {
			cursor: pointer;
		}

		a {
			width: 100%;
			height: 100%;
			text-align: center;
			display: block;
			line-height: 100%;
			margin-top: 8px;
			text-shadow: black 0px 0px 12px;
			cursor: default;
		}

		&:hover {
			// background-color: #3b0264;
			background-color: #ae0000;
		}
	}
}

//******************** Main Submenus *************************/

#pageHeader nav ul li ul.subnav {
	display: none;
	list-style: none;
	position: absolute;
	left: 0;
	top: 36px;
	margin: 0;
	padding: 0;
	float: left;
	width: 110px;
	z-index: 1;

	li {
		margin: 0;
		padding: 0;
		clear: both;
		width: 110px;
		background: #666666;

		&:hover {
			// background: #dc6f04;
			background: rgb(230, 46, 37);
		}

		a {
			float: left;
			width: 110px;
			text-shadow: black 0px 0px 12px;
		}
	}
}

//******************** Main Footer *************************/

#pageFooter {
	margin-top: 10px;
	margin-bottom: 30px;

	ul {
		display: inline;

		li {
			display: inline-block;
			list-style-type: none;
			margin-right: 10px;
			color: #666666;
		}
	}
}

#pageFooter a {
	cursor: pointer;
}

#pageFooter a:link {
	color: #666666;
}

#pageFooter a:hover {
	color: #FFFFFF;
}

#pageFooter .copyright {
	float: right;
	display: inline;
}

#helpTag.pageFound {
	text-decoration: underline;
}

//************ Support page *************/
// maybe it should go in its own style file

#support a:link, #support a:visited {
	color: rgb(230, 46, 37);
	text-decoration: none;
}

#support a:hover {
	color: white;
	background-color: rgb(230, 46, 37);
	border-radius: 2px;
}

#support ul {
	margin-left: 40px;
	margin-bottom: 18px;
}

#support ul li {
	margin-bottom: 10px;
}

#support strong {
	color: #898989;
}

#support p {
	margin-top: 1em;
	margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
	#starexecLogoWrapper {
		float: left;
	}

	#starexecNavWrapper {
		float: right;
	}

	.showMobile {
		display: none;
	}

	.mobileBlock {
		display: inline-block;
	}
}

@media only screen and (max-width: 767px) {
	.hideMobile {
		display: none;
	}

	.mobileBlock {
		display: block;
	}

	html, body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	#wrapper {
		width: inherit;
		height: inherit;
		margin: 0;
		padding: 0;
	}

	#pageHeader {
		width: inherit;
	}

	#starexecLogoWrapper {
		float: none;
		width: inherit;
		text-align: center;
	}

	#starexecLogoWrapper a {
		display: inline;
	}

	#starexecNavWrapper {
		width: inherit;
		float: none;
		display: block;
		padding-bottom: 15px;
	}

	#starexecNavWrapper nav {
		width: inherit;
	}

	#starexecNavWrapper ul {
		text-align: center;
		width: inherit;
		padding: 0 0 28px 0;
	}

	#starexecNavWrapper li {
		margin: 0 0 10px 0;
	}

	#content {
		width: inherit;
	}

	#mainHeaderWrapper {
		text-align: center;
		width: inherit;
	}

	body h1 {
		margin: 20px auto 0 auto;
	}

	#wrapper #pageFooter {
		width: inherit;
		text-align: center;
	}

	body #pageFooter ul {
		width: inherit;
		display: block;
		text-align: center;
		margin: 0 0 10px 0;
	}

	body #pageFooter ul li {
		margin: 0 0 10px 0;
	}

	#wrapper #pageFooter .copyright {
		float: none;
		display: inline;
	}
}

@media only screen and (min-width: 560px) and (max-width: 767px) {
}
