fieldset {						
	width: 75%;	
	margin-top: 50px;
}

fieldset table {
	width: 100%;
}

fieldset table input {
	width: 100%;
}

#tblSolver tr td {
	padding: 10px;
	vertical-align: middle;
}

#uploadFile {
	border: none;
}

#btnUpload {	
	float: right;
}
