@import "../global/helper";

#benchHead {
	width: 19%;
}

#qstatOutput, #loadOutput {
	width: 96%;
	height: 300px;
}

#qstatOutput {
	font-family: "Source Code Pro", Consolas, monospace;
	font-size: 12px;
	white-space: pre;
}

#jobs {
	@extend %popup-links;

	td .stat {
		@extend %stat-column;
	}
}

#descriptionContainer {
	padding: 15px;
}

#queueDescriptionWrapper {
	background-color: #111111;
	word-wrap: break-word;
	padding: 15px;
}

@media only screen and (max-width: 767px) {
	#explorer {
		width: 100%;
		float: none;
	}

	.jstree-icon {
		width: 30px;
	}

	#wrapper #detailPanel {
		width: 75%;
		float: none;
		margin: auto;
		border-left: initial;
	}

	#detailField {
		width: 90%;
	}

	#details {
		width: 100%;
	}

	body #details tr > *:first-child {
		width: 33.33% !important;
	}

	body #details tr > *:nth-child(2) {
		width: 33.33% !important;
	}

	body #details tr > *:nth-child(3) {
		width: 33.33% !important;
	}

	#details tr > *:nth-child(4) {
		display: none;
	}

	#details tr > *:nth-child(5) {
		display: none;
	}

	#details tr > *:nth-child(6) {
		display: none;
	}

	#details tr > *:nth-child(7) {
		display: none;
	}

	#details td, #details th {
		text-align: center;
		font-size: 12px;
	}
}
