#explorer {
	margin-top: 15px;
	float:left;
	width: 28%;
	min-height: 90%;
	height: 90%;
	overflow: auto;
	overflow-y:hidden;
	position: relative; 
}

#explorer a:link {
	text-decoration: none;	
}

#detailPanel {
	padding-left: 10px;
	padding-right:55px;
	margin-top: 15px;
	float:right;	
	width: 65%;
	border-left: solid 3px #111111;	
}

#detailPanel hr {
	border-top: solid 1px #666666;
}

#detailPanel h3, #explorer h3 {
	color: #FFFFFF;
	font-size: 24px;
	margin-bottom: 5px;
	display: inline-block;
}

#detailPanel p.accent {
	color: #666666;
	font-style: italic;
}
	
#detailPanel .button{
	margin-bottom:9px;
}

#detailPanel fieldset {	
	margin-top: 35px;
}

#actionList {
	list-style: none;
}

#actionList li {
	float: left;
	margin: 5px;
}

.expd, #actionList li a ,
.qtip-nonPermanentLeader a.tooltipButton, img {	
	cursor: pointer;
}

#content table {
 	width: 100%;	
}

#progressBar {
	display: inline-block;
	margin-left: 20px;
}

.ui-dialog {
	height: 1000px;
}

#dialog-confirm-copy,
#dialog-confirm-delete {
	min-height: 70px;
}

#dialog-confirm-copy-txt,
#dialog-confirm-delete-txt {
	position: absolute;
}

.ui-icon-info, .ui-icon-alert {
	float: left; 
	margin: 0 7px 20px 0;"
}