.dragClone {
	max-width: 200px;
	overflow: hidden;	
	position: fixed;
	background-color: #fff;
	color: #111;
	z-index: 999;
	text-align: center;	
	padding: 14px;
	border-radius: 3px;
	box-shadow: 4px 4px 5px #111;
	opacity: 0.8;
}

.dragClone span {
	float: left;
	margin-right: 5px;
}

#exploreList a.active {
	border: 1px dashed #008d03;
}

#exploreList a.hover{
	background-color: #008d03;
	border-radius:2px;
}


#spaceField a.spaceLink {
	cursor: pointer;
}



.leaderWrap {		
	position: absolute;
	bottom: 10px;
	left: 72px;
	width: 70px;	
}

.leaderWrap h2 {
	text-align: right;
	font-weight: bold;
	color: #008d03;
}

.leaderWrap span {	
	display: block;
	position:absolute;
}

.leaderBtn {
	width: 150px;
	position: relative;
	left: 24px;
	top: 6px;
}

#jobs p.stat {
	margin: auto;
	text-align: center;
	width: 80px;
	height: 30px;
	padding-top: 10px;
	color: #111;
	display: block;
	border: 1px solid #111;
}

#trashcan {
	width: 50px;
	height: 50px;
	background: transparent;
	text-align: left;
	float:right;
	position:relative;
	left:60px;
	border: 1px dashed #008d03;
	border-radius:2px;
}

#trashcan:hover {
	background-color: #008d03;
	border-radius:2px;
}

#trashcan.hover {
	background-color: #008d03;
	border-radius:2px;
}

#trashcan .ui-icon {
	margin-top: -8px;
	margin-right: 10px;
}

#trashcan.active {
	border: 1px dashed #008d03;
	border-radius:2px;
}

div.selectWrap p, div.selectWrap span {
	display: inline-block;	
}

div.selectWrap {
	font-size: 13px;
	display: inline-block;
}

div.selectWrap p {
	cursor: pointer;
}

div.selectWrap p:hover {
	text-decoration: underline;
}

div.selectWrap span {
	position: relative;
	top: 3px;
}


/* these are tooltip styles
*/

/**
	 * Custom tooltip style for tooltips that will never be deleted
	 * (i.e. tooltips on the spaces in #exploreList)
	 */
.spaceTooltipLeader {
	background-color: #E1E1E1;
	padding: 10px;
	height: 144px;
	width: 220px;
}

.spaceTooltipNormal {
	background-color: #E1E1E1;
	padding: 10px;
	height: 120px;
	width: 220px;
			
	}

.userTooltipLeader  {
			background-color: #E1E1E1;
			height: 144px;
			width: 220px;
			padding: 10px;
}

.userTooltipNormal {
			background-color: #E1E1E1;
			height: 120px;
			width: 220px;
			padding: 10px;

	}

.expdTooltip  {
			background-color: #E1E1E1;
			width: 220px;
			padding: 10px;

}

.userTooltip {
			background-color: #E1E1E1;
			height: 144px;
			width: 220px;
			padding: 10px;
			
};

@media only screen and (min-width: 768px) {
}



@media only screen and (max-width: 767px) {
	#explorer {
		width: 100%;
		float:none;
	}

	#jobs tr > *:nth-child(2) {
		display: none;
	}
	#jobs tr > *:nth-child(3) {
		display: none;
	}
	#jobs tr > *:nth-child(4) {
		display: none;
	}

	#jobs tr > *:nth-child(5) {
		display: none;
	}

	#jobs tr > *:nth-child(6) {
		display: none;
	}

	#solvers tr > *:nth-child(2) {
		display: none;
	}

	#solvers tr > *:nth-child(3) {
		display: none;
	}

	#users tr > *:nth-child(2) {
		display: none;
	}

	#spaces tr > *:nth-child(2) {
		display: none;
	}

	/*
	#benchmarks tr > *:nth-child(2) {
		display: none;
	}
	*/


	.jstree-icon {
		width: 30px;
	}

	#wrapper #detailPanel {
		width: 75%;
		float: none;
		margin: auto;
		border-left: initial;
	}

}
