fieldset {				
	width: 75%;
	margin-top: 50px;						
	padding: 30px;
}

fieldset table {		
	margin: auto;					
	width: 100%;
	height: 100%;								
}

#value_header {
	text-align: left;
	padding-left: 90px;
}

fieldset table tbody tr td:first-child {
	width: 200px;
	margin: 10px;
}

table tbody tr td:first-child.label {
	padding-left: 10px;
	vertical-align: middle;
}

table tbody tr td {
	padding: 5px;	
}

input, select, textarea {
	width: 200px;
}

input.error {	
	border: solid 1px #ae0000;
}

label.error {
	margin-left: 15px;	
	display: inline;
	color: #ae0000;
}

td button {
	float: right;		
}