.commentDelBtn {
	float: right;
	cursor: pointer;
	font-size: smaller;
}

.caption {
	text-align: right;
	font-size: 14px;
	display: block;
	margin-top: 10px;
}

#new_comment {
	float: right;
	margin-top: 10px;
}

#toggleComment {	
	cursor: pointer;	
}

.ui-icon-info, .ui-icon-alert {
	 float: left; 
	 margin: 0 7px 20px 0;
}