@import "../global/helper";

.delaySpinner {
	text-align: center;

	.ui-dialog-titlebar-close {
		/* Hide the close button */
		display: none;
	}

	.ui-dialog-title {
		/* Since we are hiding the close button,
		 * we do not need to make room for it */
		float: none;
	}

	p {
		width: 95%;
		margin: 10px auto 30px;
	}

	.ui-dialog-content {
		border: 1px solid #333;

		&::after {
			/* The spinner image */
			display: block;
			margin: 0 auto 10px;
			background-image: image-url("ajaxloader.gif");
			background-size: 25px;
			width: 25px;
			height: 25px;
			content: ""
		}
	}
}
