.dataTables_wrapper {
	position: relative;
	clear: both;	
	zoom: 1;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: white;
	font-size: 14px;
	background-color: #222222;
}

.processing {
	margin-right: 8px;
	margin-bottom: -4px;
}

.qtip .processing {
	margin-top: 45px;
	text-align: center;
}

.dataTables_length {
	width: 40%;
	float: left;
	font-size: 12px;
}

.dataTables_length select {	
	font-size: 12px;
}

th.sorting,
th.sorting_asc,
th.sorting_desc {
	cursor: pointer;
}

select {
	width:95%;
}


.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	font-size: 12px;
	display: relative;
	top: 100px;
}

.dataTables_filter input {
	height: 20px;	
	font-size: 12px;
}

.dataTables_info {
	width: 100%;
	text-align:center;
	font-size: 12px;
	clear: both;	
}

.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('/starexec/images/tables/back_disabled.png');
}

.paginate_enabled_previous {
	background-image: url('/starexec/images/tables/back_enabled.png');
}

.paginate_disabled_next {
	background-image: url('/starexec/images/tables/forward_disabled.png');
}

.paginate_enabled_next {
	background-image: url('/starexec/images/tables/forward_enabled.png');
}

table {
	table-layout:fixed;
	width:100%;
	max-width:100%;
	overflow-x:scroll;
	word-wrap:break-word;
}

table.tooltipTable {
	table-layout:auto;
	word-wrap:normal;
}

#content tbody tr:not(.row_selected):not(.noHover):hover {
	background-color: #ae0000;	
}

#content tbody tr .dataTables_empty:hover {
	background-color: #222222;
}

#content tbody td {
	padding: 10px;
}

#content thead th {
	padding: 10px;
}

#content thead tr {
	background-color: #111111;
}

.sorting_asc {
	background: url('/starexec/images/tables/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('/starexec/images/tables/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('/starexec/images/tables/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('/starexec/images/tables/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('/starexec/images/tables/sort_desc_disabled.png') no-repeat center right;
}

tr.odd {
	background-color: #222222;
}

tr.even {
	background-color: #111111;
}

tbody tr.row_selected {
	background-color: #dc6f04;
}

.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.bottom {	
	border-top: 1px solid #111111;
	padding-top: 10px;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tbody tr.row_selected .dataTables_empty {
	background-color:#222222;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}