.instanceNameText {
	margin-right: 35px;
}

input.instanceName[type="text"] {
	width: auto;
}

.copyToStardevInputDiv {
	margin-bottom: 5px;
}

.stardevUsernameText {
	margin-right: 8px;
}

input.stardevUsername[type="text"] {
	width: auto;
}

.stardevPasswordText {
	margin-right: 10px;
}

.stardevSpaceIdText {
	margin-right: 19px;
}

