.prettyprint {
	height: 300px;
	padding: 5px;
	overflow: scroll;
	max-width: 590px;
	white-space: pre-wrap;
	line-height: 1.13;
}

@media only screen and (max-width: 767px) {
	#showPicture {
		display: none;
	}

	td, th {
		text-align: center;
	}
}
