fieldset {
	width: 750px;	
}

#pairTbl tr {
	cursor: pointer;
}

#jobdownload {
	margin-right: 111px;	
}
#actionList {
	list-style: none;
}

#actionList li {
	float: left;
	margin: 5px;
}

#incompleteHead, #completeHead, #configHead {
	width: 18%;
}
#explorer.jobDetails {
	width: 23%;
}

#explorer a:link {
	text-decoration: none;	
}

#detailPanel.jobDetails {	
	width: 70%;
}

#detailPanel fieldset {
	width: 100%;	
}

tr {
	width:100%;
}

thead {
	width:inherit;
}

.completeHead, .correctHead {
	width: 11%;
	max-width:11%;
}

.incompleteHead {
	width: 18%;
	max-width:18%;
}


.configHead { 
	width: 10%;
	max-width:10%;
}

.solverHead, .failedHead, .wrongHead {
	width: 10%;
	max-width:10%;
}
.timeHead, .pairsInSpaceHead {
	width: 10%;
	max-width:10%;
}

.benchHead{
	width: 18%
}

#graphField img {
	border-style:solid;
	border-width:1px;
	border-color:black;
	
}

#pairTbl tbody tr {
	cursor:pointer;
}

#solverChoice1,#solverChoice2 {
	width:90%;
}
#solverChoice2 {
	margin-top:5px;
}



#detailPanel #optionField {
	width:95%;
}

#solverComparison {
	float:right;
}

p.accent {
	color: #666666;
	font-style: italic;
}

#spaceOverviewSelections {
overflow-y: scroll;
overflow-x: scroll;
width: 95%;
margin-top:5px;
}
#logScale {
	float:left;
	margin-right:auto;
	margin-left:auto;
}
#detailPanel #spaceOverviewOptionField {
	float:left;
	width:290px;	
	/* text-align:center;*/
}
#detailPanel #solverComparisonOptionField {
	float:left;
	width:290px;	
	/* text-align:center;*/  /*needs to be determined whether we want everything centered*/
}

#detailPanel #spaceOverviewUpdate {
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;	
}
#detailPanel #solverComparisonUpdate {
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;	
}

#subspaceSummaryField .dataTables_wrapper {
	float:left;
	clear:none;
	
	padding:3px;
}

#subspaceSummaryField table.panel {
	font-size:70%;
	
}

#subspaceSummaryField legend {
	max-width:47%;	
	word-wrap:break-word;
}

#subspaceSummaryField .panelField {
    max-width:47%;
	width:47%;
    float: left;
    padding-right: 1px ;
    border: 1px;
    border-color: #000000;
    border-style: solid;
    clear: none;
    margin-right:3px;
	margin-bottom:2px;
	margin-right:5px;
	margin-top:5px;
	border-radius:0px;
	padding-left:0px;
	word-wrap:break-word;
}
#subspaceSummaryField #panelActions {
	width:97%;
	border-color: black;
	border-style: none none solid;
	border-width: 0px 0px 5px;
	margin-top:0px;
	padding-top:0px;
}

tr.viewSubspace {
	text-align:center;
	font-size: 140%;
	cursor:pointer;
}

table.panel .configHead, table.panel .solverHead {
	width: 30%;
}
table.panel .solvedHead, table.panel .timeHead {
	width: 20%;	
}
