fieldset {
	width: 750px;	
}

#pairTbl tr {
	cursor: pointer;
}

#jobdownload {
	margin-right: 111px;	
}
#actionList {
	list-style: none;
}

#actionList li {
	float: left;
	margin: 5px;
}

#incompleteHead, #completeHead, #configHead {
	width: 18%;
}
#explorer.jobDetails {
	width: 23%;
}

#explorer a:link {
	text-decoration: none;	
}

#detailPanel.jobDetails {	
	width: 70%;
}

#detailPanel fieldset {
	width: 100%;	
}

tr {
	width:100%;
}

thead {
	width:inherit;
}

.completeHead {
	width: 12%;
}

.incompleteHead, .benchHead{
	width: 18%
}

.configHead { 
	width: 21%;
}

.solverHead, .failedHead, .wrongHead {
	width: 10%;
}
.timeHead, .pairsInSpaceHead {
	width: 10%;
}

#graphField img {
	border-style:solid;
	border-width:1px;
	border-color:black;
	
}

#pairTbl tbody tr {
	cursor:pointer;
}

#solverChoice1,#solverChoice2 {
	width:90%;
}
#solverChoice2 {
	margin-top:5px;
}



#detailPanel #optionField {
	width:95%;
}

#solverComparison {
	float:right;
}

p.accent {
	color: #666666;
	font-style: italic;
}

#spaceOverviewSelections {
overflow-y: scroll;
overflow-x: scroll;
width: 95%;
margin-top:5px;
}
#logScale {
	float:left;
	margin-right:auto;
	margin-left:auto;
}
#detailPanel #spaceOverviewOptionField {
	float:left;
	width:290px;	
	/* text-align:center;*/
}
#detailPanel #solverComparisonOptionField {
	float:left;
	width:290px;	
	/* text-align:center;*/  /*needs to be determined whether we want everything centered*/
}

#detailPanel #spaceOverviewUpdate {
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;	
}
#detailPanel #solverComparisonUpdate {
	margin-top:10px;
	margin-right:auto;
	margin-left:auto;	
}