@import "../global/helper";

fieldset {
	width: 750px;
}

#displayJobSpaceID {
	margin-bottom: 8px;
}

#pairTbl tr {
	cursor: pointer;
}

#incompleteHead, #completeHead, #configHead {
	width: 18%;
}

#solverTableIncludeUnknownWrapper {
	padding-bottom: 10px;
}

#explorer {
	&.jobDetails {
		width: 23%;
	}

	a:link {
		text-decoration: none;
	}
}

#detailPanel {
	&.jobDetails {
		width: 70%;
	}

	fieldset {
		width: 100%;
	}
}

tr {
	width: 100%;
}

thead {
	width: inherit;
}

#solveTbl {
	font-size: 82%;

	@extend %popup-links;
}

.solvedHead, .resourceHead {
	width: 10%;
	max-width: 10%;
	min-width: 10%;
}

.incompleteHead {
	width: 13%;
	max-width: 13%;
	min-width: 13%;
}

.configHead, .unknownHead, .solverHead, .wrongHead {
	width: 11%;
	max-width: 11%;
	min-width: 11%;
}

.timeHead {
	width: 8%;
	max-width: 8%;
	min-width: 8%;
}

.failedHead {
	width: 9%;
	max-width: 9%;
	min-width: 9%;
}

.benchHead {
	width: 17%;
}

#graphField img {
	border: 1px solid black;
}

#pairTbl tbody tr {
	cursor: pointer;
}

#solverChoice1 {
	width: 90%;
}

#solverChoice2 {
	width: 90%;
	margin-top: 5px;
}

#detailPanel #optionField {
	width: 95%;
	margin-bottom: 0px;
}

#solverComparison {
	float: right;
}

p.accent {
	color: #666666;
	font-style: italic;
}

#spaceOverviewSelections {
	overflow-y: scroll;
	overflow-x: scroll;
	width: 95%;
	margin-top: 5px;
}

#logScale {
	float: left;
	margin-right: auto;
	margin-left: auto;
}

#detailPanel {
	#spaceOverviewOptionField {
		float: left;
		width: 290px;

		/* text-align:center;*/
	}

	#solverComparisonOptionField {
		float: left;
		width: 290px;

		/* text-align:center;*/

		/*needs to be determined whether we want everything centered*/
	}

	#spaceOverviewUpdate, #solverComparisonUpdate {
		margin-top: 10px;
		margin-right: auto;
		margin-left: auto;
	}

	#pairTimeOptionField {
        	float: left;
        	width: 290px;
	}
}

#subspaceSummaryField {
	.dataTables_wrapper {
		float: left;
		clear: none;
		padding: 3px;
	}

	table.panel {
		@extend %popup-links;

		font-size: 70%;
		width: 100% !important;
		min-width: 100% !important;
	}

	legend {
		max-width: 47%;
		word-wrap: break-word;
	}

	.panelField {
		max-width: 47%;
		width: 47%;
		float: left;
		padding-right: 1px;
		border: 1px solid #000000;
		clear: none;
		margin-bottom: 2px;
		margin-right: 5px;
		margin-top: 5px;
		border-radius: 0;
		padding-left: 0;
		word-wrap: break-word;
	}

	#panelActions {
		width: 97%;
		border: 0 none black;
		border-bottom: 5px solid;
		margin-top: 0;
		padding-top: 0;
	}
}

#solverSummaryField #statActions, #pairTblField #pairActions #graphActions {
	width: 97%;
	border: 0 none black;
	border-bottom: 5px solid;
	margin-top: 0;
	padding-top: 0;
}

tr.viewSubspace {
	text-align: center;
	font-size: 140%;
	cursor: pointer;
}

table.panel {
	.configHead, .solverHead {
		width: 30%;
	}

	.solvedHead, .timeHead {
		width: 20%;
	}
}

.stageSelector {
	width: 90px;
}

@media only screen and (max-width: 767px) {
	#wrapper {
		#explorer {
			width: 100%;
			float: none;
		}

		fieldset {
			width: 85%;

			&.panelField {
				max-width: 100%;
				width: 100%;
				float: none;
			}
		}
	}

	.jstree-icon {
		width: 30px;
	}

	#wrapper {
		#detailPanel {
			width: 100%;
			float: none;
			margin: 0;
			border-left: initial;
		}

		#solveTbl tr > * {
			&:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
				display: none;
			}
		}

		#pairTbl {
			tr > * {
				&:nth-child(4), &:nth-child(6) {
					display: none;
				}
			}

			font-size: 12px;
		}

		#pairActions button {
			margin: 0 5px 5px 0;
		}
	}

	th, td {
		text-align: center;
	}
}
