fieldset {
	width:750px;
}

#benchHead {
	width: 18%;
}

#pairTbl tr {
	cursor:pointer;	
}

#pairTblField #pairActions {
	width:97%;
	border-color: black;
	border-style: none none solid;
	border-width: 0px 0px 5px;
	margin-top:0px;
	padding-top:0px;
}