fieldset {
	width: 600px;
	margin-top: 50px;
	margin-bottom: 30px;	
}

#downLink {
	float: right;
	margin-right: 185px;
	margin-bottom: 15px;
}

textarea {
	width: 98%;
	height: 200px;
	font-family: monospace;
}