fieldset {
	width:750px;
}

#benchHead {
	width: 18%;
}

#pairTbl tr {
	cursor:pointer;	
}

#pairTblField #pairActions {
	width:97%;
	border-color: black;
	border-style: none none solid;
	border-width: 0px 0px 5px;
	margin-top:0px;
	padding-top:0px;
}

#pairActions > select {
    width: 20%;
}

@media only screen and (max-width: 767px) {
	#wrapper fieldset {
		width: 85%;
	}

	#wrapper button {
		margin: 0 0 5px 0;
	}

	#wrapper #pairTbl {
		width: 100%;
	}

	#pairTbl {
		font-size: 12px;
	}

	#pairTbl td, #pairTbl th {
		width: 25%;
		text-align: center;
	}
	#pairTbl tr > *:nth-child(4) {
		display: none;
	}
	#pairTbl tr > *:nth-child(6) {
		display: none;
	}
}
