table {
	width: 100%;	
}

fieldset {
	width: 600px;
	margin-top: 30px;
	margin-bottom: 20px;	
}

#downLink {
	float: right;
	margin-right: 185px;	
}

textarea {
	width: 98%;
	height: 300px;
	font-family: monospace;
}

.popoutLink {
	float: right;
	margin-top: 7px;
}

.caption {
	font-size: 12px;
	margin-top: 10px;
}