table {
	width: 100%;	
}

fieldset {
	width: 600px;
	margin-top: 30px;
	margin-bottom: 20px;	
}

#downLink {
	float: right;
	margin-right: 185px;	
}

#jobdownload {
	float: right;
	margin-right: 150px;	
}

textarea {
	width: 98%;
	height: 300px;
	font-family: monospace;
}

.popoutLink {
	float: right;
	margin-top: 7px;
}

.caption {
	font-size: 12px;
	margin-top: 10px;
}

#uploadConfig {
	float: right;
	margin-right: 10px;
}

#uploadConfigMargin {
	float: right;
	margin-right: 185px;
}

#popImage {
	height: 400px;
}

#popDialog {
	display: none;
}

#showPicture{
	height: 160px;
}

#uploadPicture{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

#solverDetail{
	vertical-align:top;
}

#configItem{
	width:150px;
}

#infoTable tbody tr:hover {
	background-color: inherit;
}

#solverInfo tbody tr:hover {
	background-color: #ae0000;
}

#solverInfo thead tr:hover {
	background-color: #111111;
}
