
@media only screen and (max-width: 767px) {
	#picSection {
		display: none;
	}

	#wrapper fieldset {
		width: 75%;

	}

	#tblSolverConfig tr > *:nth-child(2) {
		display: none;
	}

	body th, body td {
		text-align: center;
	}
}
