#explorer.jobDetails {
	width: 20%;
}

#explorer a:link {
	text-decoration: none;	
}

#detailPanel.jobDetails {	
	width: 73%;
}

#detailPanel fieldset {
	width: 100%;	
}

tr {
	width:100%;
}

thead {
	width:inherit;
}

.completeHead {
	width: 16%;
}

.incompleteHead{
	width: 19%
}

.configHead { 
	width: 21%;
}

.timeHead, .solverHead, .failedHead, .wrongHead {
	width: 11%;
}

#graphField img {
	border-style:solid;
	border-width:1px;
	border-color:black;
	
}

#solveTbl tbody tr {
	cursor:pointer;
}

#solverChoice1,#solverChoice2 {
	width:25%;
	float:right;
	margin-right:10px;
}

#optionField {
	width:95%;
}

#solverComparison {
	float:right;
}