fieldset {
	width: 750px;	
}

.incompleteHead, .completeHead, .configHead {
	width: 18%;
}

#graphField img {
	border-style:solid;
	border-width:1px;
	border-color:black;
	
}

.subspaceTable {
	width: 750px;
}

#subspaceField .clear {
	margin-bottom:10px;
}

.spaceHeader {
	background-color: #222222;
	border-style:solid;
	border-width:2px;
	border-color:black;
	font-weight:bold;
}

#solverChoice1,#solverChoice2 {
	width:25%;
	float:right;
	margin-right:10px;
}

#optionField {
	width:95%;
}

#solverComparison {
	float:right;
}