#loginForm {
	width: 370px;
	height: 140px;
	margin: auto;
	margin-top: 50px;

	table {
		width: 100%;
		height: 100%;
	}

	button {
		float: right;
	}

	tr .label {
		display: block;
	}

	fieldset {
		width: 100%;
		height: 100%;
		padding: 30px;
	}

	legend {
		margin-left: -10px;
	}

	input {
		width: 200px;
		margin-bottom: 3px;
	}

	a:link {
		text-decoration: none;
		font-size: 14px;
		position: relative;
		bottom: 7px;
	}
}

#emailRow {
	margin-bottom: 3px;
}

@media only screen and (max-width: 767px) {
	#loginForm {
		margin: 20px 0 0 10px;
		width: 100%;
	}

	body {
		form #loginFieldset {
			width: 50%;
		}

		#loginForm input {
			margin-left: 6px;
			width: 150px;
		}
	}

	#loginForm tr .label {
		width: 25%;
	}

	h1 {
		margin: 20px auto 0 auto;
	}

	body #pageFooter ul {
		li {
			margin: 0 0 10px 0;
		}

		margin: 0 0 10px 0;
	}
}

@media only screen and (min-width: 560px) and (max-width: 767px) {}
