#content fieldset {
	width: 600px;
	margin: 50px auto 30px auto;	
}

#tblUploadBench {
	width: 100%;
}

#tblUploadBench tr td {
	padding: 10px;
}

#fileURL {
	width:90%;
}

select {
	width:95%;
}

.label {
	width: 160px;
	vertical-align: middle;
}

button {
	float: right;
}

#tblDefaultPerm tr td {
	padding: 0px;
	padding-right: 40px;
	background-color: transparent;	
}

#tblDefaultPerm tr th {
	text-align: left;
}

@media only screen and (max-width: 767px) {
	#uploadForm > fieldset {
		width: 75%;
	}

	#tblDefaultPerm {
		table-layout: auto;
		width: 100%;
	}

	#wrapper #tblDefaultPerm th, #wrapper #tblDefaultPerm td {
		width: 11px;
		text-align: center;
	}

	#wrapper #tblDefaultPerm tr > *:nth-child(1){
		width: 55px;
		text-align: left;
	}

	#benchFile {
		width: 100%;
	}

	#wrapper #tblDefaultPerm tr td {
		padding-right: 0px;
	}
	
	#wrapper #btnPrev {
		float: left;
		
	}
}
