#content fieldset {
	width: 600px;
	margin: 50px auto 50px auto;	
}

.hidden {
	display: none;
}

#advancedOptionsButton {
	float: left;
}

.contentTbl {
	width: 100%;
}

.contentTbl tr th {
	padding: 10px;
}

.contentTbl tr td {
	padding: 10px;
	vertical-align: middle;
}

.contentTbl input[type="text"], 
.contentTbl textarea {
	width: 200px;
}

button {
	float: right;
}

#actionBar {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;	
}

#tblSolverConfig tr td,
#tblSolverConfig tr th,
#tblBenchConfig tr td,
#tblBenchConfig tr th {
	width: 50%;
}

#tblSolverConfig tbody tr,
#tblBenchConfig tbody tr,
#tblBenchMethodSelection tbody tr,
#tblSpaceSelection tbody tr {	
	cursor: pointer;
}

div.selectWrap p, div.selectWrap span {
	display: inline-block;	
}

div.selectWrap {
	font-size: 13px;
	display: inline-block;
}

div.selectWrap p {
	cursor: pointer;
}

div.selectWrap p:hover {
	text-decoration: underline;
}

div.selectWrap span {
	position: relative;
	top: 3px;
}

fieldset h6 {
	padding-top: 20px;
	text-align: right;
	font-size: small;
}

.selectConfigs {
	height: 80px;
	overflow: auto;
}

@media only screen and (max-width: 767px) {

	#wrapper .ui-button-icon-primary, #wrapper .ui-button-icon-secondary {
		position: static;
		margin: 0;
		padding: 0;
	}

	#wrapper #btnBack .ui-button-icon-primary {
		float: left;
		margin: 4px 0 0 5px;
	}

	#wrapper #btnBack .ui-button-text {
		float: right;
	}

	#wrapper #btnPrev .ui-button-icon-primary {
		float: left;
		margin: 4px 0 0 5px;
	}

	#wrapper #btnPrev .ui-button-text {
		float: right;
	}

	#wrapper #btnDone .ui-button-icon-secondary {
		float: right;
		margin: 4px 3px 0 0;
	}

	#wrapper #btnDone .ui-button-text {
		float: left;
	}

	#wrapper #btnNext .ui-button-icon-secondary {
		float: right;
		margin: 4px 3px 0 0;
	}

	#wrapper #btnNext .ui-button-text {
		float: left;
	}


	#wrapper fieldset {
		width: 75%;
	}

	#wrapper #actionBar {
		position: static;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
	}

	#wrapper #actionBar button {
		display: block;
		float: none;
		position: static;
		margin: 5px auto;
		padding: 0;
	}

	/*
	#wrapper #fieldStep1 {
		width: 75%;
	}

	#wrapper #fieldSolverMethod {
		width: 75%;
	}
	*/

	#wrapper #wallclockTimeout, #wrapper #cpuTimeout, #wrapper #maxMem, #wrapper #seed, #wrapper #resultsInterval,  #wrapper #txtJobName {
		width: 95%
	}

	#wrapper #txtDesc {
		width: 95%;
	}

	#wrapper #tblSolverConfig td, #wrapper #tblSolverConfig th  {
		padding: 0;
		margin: 0;
	}

	#wrapper #tblSolverConfig tr > *:nth-child(1) {
		width: 30%;
		text-align: center;
	}

	#wrapper #tblSolverConfig tr > *:nth-child(2) {
		width: 30%;
	}
}
