#content fieldset {
	width: 600px;
	margin: 50px auto 50px auto;	
}

.contentTbl {
	width: 100%;
}

.contentTbl tr th {
	padding: 10px;
}

.contentTbl tr td {
	padding: 10px;
	vertical-align: middle;
}

.contentTbl input[type="text"], 
.contentTbl textarea {
	width: 200px;
}

button {
	float: right;
}

#actionBar {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 10px;	
}

#tblSolverConfig tr td,
#tblSolverConfig tr th,
#tblBenchHier tr td,
#tblBenchHier tr th,
#tblBenchConfig tr td,
#tblBenchConfig tr th {
	width: 50%;
}

#tblSolverConfig tbody tr,
#tblBenchConfig tbody tr,
#tblBenchHier tbody tr,
#tblBenchMethodSelection tbody tr,
#tblSpaceSelection tbody tr {	
	cursor: pointer;
}

div.selectWrap p, div.selectWrap span {
	display: inline-block;	
}

div.selectWrap {
	font-size: 13px;
	display: inline-block;
}

div.selectWrap p {
	cursor: pointer;
}

div.selectWrap p:hover {
	text-decoration: underline;
}

div.selectWrap span {
	position: relative;
	top: 3px;
}

fieldset h6 {
	padding-top: 20px;
	text-align: right;
	font-size: small;
}

.selectConfigs {
	height: 80px;
	overflow: auto;
}