#benchmarkField {
	width:96%;
	height: 300px;
}

.contentTbl {
	width: 100%;
}

.contentTbl tr th {
	padding: 10px;
}

.contentTbl tr td {
	padding: 10px;
	vertical-align: middle;
}

.contentTbl input[type="text"] {
	width: 200px;
}
#content fieldset {
	width: 700px;
	margin: 50px auto 50px auto;	
}

