fieldset {						
	width: 75%;	
	margin-top: 50px;
}

fieldset table {
	width: 100%;
}

#uploadFile {
	border: none;
}

#content input[type="text"], textarea {
	width: 60%;
}

#content input[type="file"] {
	width: 60%;
	padding-right: 10px;
}

#btnUpload {	
	float: right;
}