fieldset {				
	width: 75%;
	margin-top: 50px;						
	padding: 30px;
}

fieldset table {		
	margin: auto;					
	width: 100%;
	height: 100%;								
}

fieldset table tr td:first-child {
	width: 200px;
	margin: 10px;
	
}

table tr td:first-child.label {
	padding-left: 10px;
	vertical-align: middle;
	
}

table tr td {
	padding: 10px;	
}


td button {
	float: right;		
}
										
tr .label {
	min-width: 120px;
	float: top;
}

.shade {
	background-color: #111111;
}

table .styled {
	width: 212px;	
	height: 28px;
	border: 1px solid #13a5e1;				
	font-size: 16px;	
}

table .styled.error {
	border: solid 1px #ae0000;
}

textarea#reason {
	height: 50px;
	width : 460px;
	border: 1px solid #13a5e1;
}

textarea#reason.error{
	vertical-align: middle;
	border: solid 1px #ae0000;
}
