#!/bin/bash
# Script to update stored procedures and functions for the MySql DB.

(
	sqldir=deployed-sql
	cd "$sqldir"

	echo "Reloading procedures using $sqldir/StarProcedures.sql"
	mysql -u@DB.User@ -p@DB.Pass@ @DB.Name@ < "$sqldir/StarProcedures.sql"

	echo "Reloading functions using $sqldir/StarFunctions.sql"
	mysql -u@DB.User@ -p@DB.Pass@ @DB.Name@ < "$sqldir/StarFunctions.sql"
)
