#content {
	h2 {
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 16pt;
		color: gray;
		padding-top: 6px;
		padding-bottom: 10px;
	}

	p {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	a {
		&:link, &:visited {
			color: rgb(230, 46, 37);
			text-decoration: none;
		}

		&:hover {
			color: white;
		}
	}

	ul {
		margin-left: 40px;
		margin-bottom: 18px;
	}
}
