fieldset {						
	width: 75%;	
	margin-top: 50px;
}

fieldset table,
fieldset ul {
	width: 100%;
}

tr .label {
	width: 25%;
}

.shade {
	background-color: #111111;
}

tr td,
tr th {
	border: #1C1C1C solid 3px;
	padding: 10px;		
}

tr td button {
	height: 20px;
	width: 20%;
}

fieldset h6 {
	padding-top: 20px;
	text-align: right;
	font-size: small;
}

input {
	width: 50%;
	height: 20px;
}

button.round {
	float: right;
}

fieldset ul li {
	list-style: none;
	display: block;
	margin: auto;
	border: #1C1C1C solid 3px;
	padding: 10px;
	width: 95%;		
}

#editfirstname:hover, 
#editlastname:hover, 
#editinstitution:hover, 
#editemail:hover {
	cursor: pointer;	
}