#content {
	background-color: #ae0000;
	min-height: 350px;	
	padding: 15px;
	display:block;
	position: relative;
	overflow: hidden;
}

#actions {
	width: 100%;
	text-align: center;	
	position: absolute;
	bottom: 15px;
}