#loginForm {
	width: 36%;		
	height: 130px;		
	margin: auto;
	margin-top: 70px;
}

#loginForm table {							
	width: 100%;
	height: 100%;								
}

#loginForm button {
	float: right;				
}
										
#loginForm tr .lable {
	min-width: 120px;				
}