#loginForm {
	width: 370px;		
	height: 130px;		
	margin: auto;
	margin-top: 50px;
}

#loginForm table {							
	width: 100%;
	height: 100%;						
}

#loginForm button {
	float: right;		
}
										
#loginForm tr .lable {
	width: 160px;				
}

#loginForm fieldset {
	width: 100%;
	height: 100%;
	padding: 30px;
}

#loginForm legend {
	margin-left: -10px;
}

#loginForm input {
	width: 200px;
}