/*
* Color Scheme:
* Background: #111111
* Foreground: #1C1C1C
* Font Main: #FFFFFF
* Font Accent: #666666
* Font Highlight: #8C0000
* Purple Accent: #3b0264
* Blue Accent: #002fa6
* Orange Accent: #dc6f04
* Green Accent: #008d03
* Red Accent: #ae0000
*/

/* Global styles */
body {
	background-color: #111111;
	color: #FFFFFF;
	font-family: Century Gothic, sans-serif; 	
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;	
}

a:link, a:visited  {
	color: #FFFFFF;
	text-decoration: none;
}

/* Common Classes */

.round {
	border-radius: 2px;
}

.font-accent {
	color: #666666;
}

/* User Messages */

.message {
	color: #ffffff;
	height: 40px;
	padding: 8px;	
	font-weight: bold;
}

.message.error {	
	background-color: #ae0000;	
}

.message.warn {	
	background-color: #dc6f04;	
}

.message.info {	
	background-color: #002fa6;	
}

.message.success {	
	background-color: #008d03;	
}

.message .exit {
	float: right;
	cursor: pointer;
}

/* Identifiers */

#content {
	background-color: #1c1c1c;
	min-height: 350px;	
	padding: 15px;
	display:block;
}


#content a:link{
	text-decoration: underline;	
}

#content h1 {
	font-size: 30px;
	margin-bottom: 8px;	
}


/* Wrapper div  (first div within the body) */
#wrapper {
	width: 1024px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	
}

/* Page header styles */
#pageHeader {
	height: 75px;
	margin-bottom: 10px;
}

#pageHeader img {
	height: 100%;
}

#pageHeader h1 {	
	font-size: 60px;
	display: inline;	
	margin-left: 10px;
	position: relative;
	bottom: 15px;
	text-align: center;	
}

/* Page header navigation menu */
#pageHeader nav {
	float: right;
	margin-top: 23px;
}

#pageHeader nav ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
	background-color: #1c1c1c;
	width: 110px;
	height: 35px;
	text-align: center;
	overflow: hidden;
}

#pageHeader nav ul li a {
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
	line-height: 100%;
	margin-top: 8px;
}

#pageHeader nav ul li:hover {
	background-color: #3b0264;
}

/* Page footer styles */
#pageFooter {
	margin-top: 10px;
}

#pageFooter ul {
	display: inline;
}

#pageFooter ul li {
	display: inline-block;
	list-style-type: none;
	margin-right: 10px;
	color: #666666;
}

#pageFooter a:link {
	color: #666666;
}

#pageFooter a:hover {
	color: #FFFFFF;	
}

#pageFooter .copyright {
	float: right;
	display: inline;
}

/* User Controls */

input {
	height: 28px;
	border: 1px solid #13a5e1;				
	font-size: 16px;
	width: 99%;				
}

button {
	width: 100px;
	height: 30px;
	background-color: #666666;
	color: #ffffff;
	border: none;
	cursor: pointer;
	font-family: Century Gothic, sans-serif;
}

button:hover {				
	background-color: #3b0264;				
}