fieldset {				
	width: 75%;
	margin-top: 50px;						
	padding: 30px;
}

fieldset table {		
	margin: auto;					
	width: 100%;
	height: 100%;								
}

fieldset table tr td:first-child {
	width: 200px;
	margin: 10px;
	
}

table tr td:first-child.label {
	padding-left: 10px;
	vertical-align: middle;
	
}

table tr td {
	padding: 5px;	
}

input, select, textarea {
	width: 200px;
}

td button {
	float: right;		
}
										
tr .label {
	min-width: 120px;
	float: top;
}

.shade {
	background-color: #111111;
}

table .styled {
	width: 212px;	
	height: 28px;
	border: 1px solid #13a5e1;				
	font-size: 16px;	
}

table .styled.error {
	border: solid 1px #ae0000;
}


textarea#reason {
	resize: none;	
	height: 50px;
	border: 1px solid #13a5e1;
	padding: 0px 5px 0px 5px;
}

textarea#reason.error{
	border: solid 1px #ae0000;
}

/***************** Password-Meter Styles *******************/

.password-meter {
	position: right;
	margin-left: 13px;
	display: inline-block;
	width: 210px;
}
.password-meter-message {
	text-align: left;
	font-weight: bold;
	color: #676767;
}
.password-meter-bg, .password-meter-bar {
	height: 4px;
	background-color: #111111;
}

.password-meter-bg {
	top: 8px;
	background: #e0e0e0;
}

.password-meter-message-illegal,
.password-meter-message-too-short,
.password-meter-message-too-long {
	color: #aa0000;
}
.password-meter-message-very-weak {
	color: #aa0033;
}
.password-meter-message-weak {
	color: #f5ac00;
}
.password-meter-message-good {
	color: #6699cc;
}
.password-meter-message-strong {
	color: #008000;
}

.password-meter-bg .password-meter-illegal,
.password-meter-bg .password-meter-too-short,
.password-meter-bg .password-meter-too-long {
	background: #aa0000;
	width: 0px;
}

.password-meter-bg .password-meter-very-weak {
	background: #aa0033;
	width: 30px;
}
.password-meter-bg .password-meter-weak {
	background: #f5ac00;
	width: 70px;
}
.password-meter-bg .password-meter-good {
	background: #6699cc;
	width: 170px;
}
.password-meter-bg .password-meter-strong {
	background: #008000;
	width: 210px;
}