@CHARSET "ISO-8859-1";

div .content {
	width: 815px;
	min-height: 350px;
	background-color: #fbf8ee;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	position:relative;
	border: 1px solid #aaaaaa;
	padding-bottom: 40px;
}

div .content .ul_icon {
	position: absolute;
	top: -12px;
	left: -10px;
}

div .content h1 {	
	position:relative;	
	top: 7px;
	margin-left: 60px;
	font-size: 24px;
	text-shadow: 0.04em 0.04em 0.03em #eeeeee;	
}

.solverUpForm {
	margin-top: 50px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

#btnSubmit {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.help {
	position:absolute;
	top: 5px;
	right: 10px;
	text-decoration: none;
	font-size: 12px;
}

.step {
	margin-top: 20px;;
}