@CHARSET "ISO-8859-1";

div .content {
	width: 815px;
	min-height: 250px;
	background-color: #fbf8ee;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	position:relative;
	border: 1px solid #aaaaaa;
	padding: 0px 20px 60px 20px;
}

div .content .ul_icon {
	position: absolute;
	top: -12px;
	left: -10px;
}

div .content h1 {	
	position:relative;	
	top: 7px;
	margin-left: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	text-shadow: 0.04em 0.04em 0.03em #eeeeee;	
}

.help {
	position:absolute;
	top: 5px;
	right: 10px;
	text-decoration: none;
	font-size: 12px;
}

#jobs {
	width: 100%;
}

#jobs td, #jobs th {
	text-align: left;	 	
}

#btnBack {
	position: absolute;
	bottom: 10px;
	left: 20px;
}

/*
#jobs {
	margin-top: 40px;
	width: 100%;
	border-collapse: collapse; 
 	border: 2px solid; 
}

#jobs td, #jobs th {
	text-align: left;	
 	border: solid 1px black;
}

#jobs th {
	text-align: left;
}

#jobs tr {
	cursor: hand;
}*/