#!/bin/bash

# Script to update stored procedures and functions for the MySql DB.

cd deployed-sql
echo "Reloading procedures using deployed-sql/StarProcedures.sql"
mysql -u@DB.User@ -p@DB.Pass@ < StarProcedures.sql

echo "Reloading functions using deployed-sql/StarFunctions.sql"
mysql -u@DB.User@ -p@DB.Pass@ < StarFunctions.sql
