<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>STAREXEC</display-name>
  <description>Logic solver collaboration tool</description>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.starexec.servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getfile</servlet-name>
    <servlet-class>com.starexec.servlets.GetFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getfile</servlet-name>
    <url-pattern>/GetFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>benchup</servlet-name>
    <servlet-class>com.starexec.servlets.UploadBench</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>benchup</servlet-name>
    <url-pattern>/UploadBench</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>solveup</servlet-name>
    <servlet-class>com.starexec.servlets.UploadSolver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>solveup</servlet-name>
    <url-pattern>/UploadSolver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newjob</servlet-name>
    <servlet-class>com.starexec.servlets.SubmitJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newjob</servlet-name>
    <url-pattern>/SubmitJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jobresult</servlet-name>
    <servlet-class>com.starexec.servlets.Results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobresult</servlet-name>
    <url-pattern>/Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>resteasy.scan.resources</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/services</param-value>
  </context-param>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <!-- <security-role>
    <role-name>dev</role-name>
  </security-role>
  <security-constraint>
    <display-name>Security Constraints</display-name>
    <web-resource-collection>
      <web-resource-name>Starexec</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>DELETE</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>dev</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>    
  </login-config> -->
  <welcome-file-list>
    <welcome-file>dashboard.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>    
  </welcome-file-list>
  <listener>
    <listener-class>com.starexec.app.AppListener</listener-class>
  </listener>
</web-app>