-- Drop and recreate the database to get a fresh slate
DROP DATABASE IF EXISTS @DB.Name@;
CREATE DATABASE @DB.Name@;
GRANT ALL PRIVILEGES ON @DB.Name@.* TO stardev_cluster@"%" IDENTIFIED BY "@Cluster.DB.Pass@";
FLUSH PRIVILEGES;

USE @DB.Name@;

source @schema@

delimiter //
source @procedures@
delimiter ;
