#topicList a.active {
	border: 1px dashed rgb(230, 46, 37);
}

#topicList a:hover{
  background-color: rgb(230, 46, 37);
	border-radius:2px;
}

#spaceField a.spaceLink {
	cursor: pointer;
}

#helpTopics {
	margin-top: 15px;
	float:left;
	width: 28%;
	min-height: 90%;
	height: 90%;
	overflow: auto;
	overflow-y:hidden;
	position: relative; 
}

#helpTopics a:link {
	text-decoration: none;	
}

#detailPanel {
	padding-left: 10px;
	padding-right:55px;
	margin-top: 15px;
	float:right;	
	width: 65%;
	border-left: solid 3px #111111;	
	min-height:700px;
}


#detailPanel a:link, #detailPanel a:visited {
  color: rgb(230, 46, 37);
	text-decoration: none;
}

#detailPanel a:hover {
  color: white;
  background-color: rgb(230, 46, 37);
	border-radius:2px;
}


#detailPanel hr {
	border-top: solid 1px #666666;
}

#detailPanel strong {
	color: #898989;
}

#detailPanel h1 {
	font-size: 26px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#detailPanel h2 {
	color: #898989;
	font-size: 22px;
	padding-top: 6px;
	padding-bottom: 4px;
}

#detailPanel h3 {
	color: #999999;
	font-size: 20px;
	padding-top: 6px;
	padding-bottom: 2px;
}

#detailPanel p {
	margin-top: 1em;
	margin-bottom: 1em;
}

#detailPanel p.accent {
	color: #666666;
	font-style: italic;
}

#detailPanel ul {
	margin-left: 40px;
	margin-bottom: 18px;
}

#detailPanel ul li {
	margin-bottom: 10px;
}

#detailPanel ol {
	margin-left: 40px;
	margin-bottom: 18px;
}

#detailPanel ol li {
	margin-bottom: 10px;
}

#detailPanel code {
	font-size: 19px;
}

#detailPanel dl dd {
	margin-left: 40px;
}

#detailPanel dl dt {
	color: #898989;
}

#topicList .topicHeader {
	font-weight:bold;
	margin-bottom:10px;
	margin-top: 10px;
	font-size:1.1em;
}

#topicList .subject {
	margin-top:3px;
	margin-bottom:3px;
	margin-left:8px;
}

#topicList .stub {
	display:none;
}
