fieldset {						
	width: 75%;	
	margin-top: 50px;
}

fieldset table,
fieldset ul {
	width: 100%;
}

tr .label {
	width: 25%;
}

#passwordTable tr td button {
	float: right;
}

#passwordTable td:first-child, 
#diskUsageTable td:first-child{
	width: 35%;
}

fieldset h6 {
	padding-top: 20px;
	text-align: right;
	font-size: small;
}

input {
	width: 50%;
}

fieldset ul li {
	list-style: none;
	display: block;
	margin: auto;
	padding: 10px;
	width: 95%;		
}

#new_website {
	float: right;
}

#new_website input {
	width: 30%;
}

.website {
	float: right;
	cursor: pointer;
	font-size: smaller;
}

#editfirstname:hover, 
#editlastname:hover, 
#editinstitution:hover {
	cursor: pointer;	
}

.caption {
	text-align: right;
	font-size: 14px;
	display: block;
	margin-top: 10px;
}

#new_website {
	float: right;
	margin-top: 10px;
}

input[type="text"] {
	width: 50%;	
}

#toggleWebsite {	
	cursor: pointer;	
}

.close-image{
    display: block;
    float:right;
    position:relative;
    top:-10px;
    right: -10px;
    height: 20px;
}

.noTitle .ui-dialog-titlebar {display:none}