fieldset {						
	width: 75%;	
	margin-top: 50px;
}

fieldset table,
fieldset ul {
	width: 100%;
}

tr .label {
	width: 25%;
}

.shade {
	background-color: #111111;
}

tr td,
tr th {
	padding: 10px;		
}

button {
	height: 20px;
	width: 15%;
	border-radius: 2px;
}

#password tr td button {
	float: right;
}

fieldset h6 {
	padding-top: 20px;
	text-align: right;
	font-size: small;
}

input {
	width: 50%;
	height: 20px;
}

fieldset ul li {
	list-style: none;
	display: block;
	margin: auto;
	padding: 10px;
	width: 95%;		
}

#new_website {
	float: right;
}

#new_website input {
	width: 30%;
}

.website {
	float: right;
	cursor: pointer;
	font-size: smaller;
}

li button {
	display: none;
}

li:hover button {
	display: block;
}

#editfirstname:hover, 
#editlastname:hover, 
#editinstitution:hover {
	cursor: pointer;	
}


.caption {
	text-align: right;
	font-size: 14px;
	display: block;
	margin-top: 10px;
}

#new_website {
	float: right;
	margin-top: 10px;
}


input[type="text"] {
	width: 50%;
	height: 20px;	
}


#toggleWebsite {	
	cursor: pointer;	
}