@import "../common/pass_strength_meter";

fieldset {
  width: 75%;
  margin-top: 50px;

  table, ul {
    width: 100%;
  }
}

#infoTable {
  table-layout: auto;
}

tr .label {
  width: 25%;
}

#passwordTable {
  tr td button {
    float: right;
  }

  td:first-child {
    width: 35%;
  }
}

#diskUsageTable td:first-child {
  width: 35%;
}

fieldset h6 {
  padding-top: 20px;
  text-align: right;
  font-size: small;
}

input {
  width: 50%;
}

fieldset ul li {
  list-style: none;
  display: block;
  margin: auto;
  padding: 10px;
  width: 95%;
}

#new_website {
  float: right;

  input {
    width: 30%;
  }
}

.delWebsite {
  float: right;
  cursor: pointer;
  font-size: smaller;
}

#editfirstname:hover, #editlastname:hover, #editinstitution:hover {
  cursor: pointer;
}

.caption {
  text-align: right;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

#new_website {
  float: right;
  margin-top: 10px;
}

input[type="text"] {
  width: 50%;
}

#toggleWebsite {
  cursor: pointer;
}

#popImage {
  height: 400px;
}

#popDialog {
  display: none;
}

#showPicture {
  height: 160px;
}

#userDetail {
  vertical-align: top;
}

#infoTable tbody tr:hover {
  background-color: inherit;
}

#personal {
  tbody tr:hover {
    background-color: #ae0000;
  }

  thead tr:hover {
    background-color: #111111;
  }
}

.notShaded {
  background-color: #111111;
}

#picSection {
  width: 133px;
}

#infoTable {
  tbody tr:hover {
    background-color: #222222 !important;
  }

  #userDetail #personal {
    thead tr:hover {
      background-color: #111111 !important;
    }

    tbody tr:hover {
      background-color: #ae0000 !important;
    }
  }
}

#uploadPicture {
  margin-left: 2px;
  margin-top: -6px;
  width: 107px;
}

.selectPrim {
  float: right;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  #wrapper #picSection {
    width: 0%;
  }

  body {
    td, th {
      text-align: center;
    }
  }

  #settingActions button {
    margin: 0 5px 5px 0;
  }

  #wrapper {
    #showPicture, #picSection ul {
      display: none;
    }

    #userDetail {
      width: 100%;
    }

    #personal tr > * {
      &:nth-child(1) {
        width: 40%;
      }

      &:nth-child(2) {
        width: 60%;
      }
    }
  }

  /*Hide the "change image" button*/
}
