@media only screen and (max-width: 767px) {
	#wrapper fieldset {
		width: 85%;
	}

	#wrapper #editBenchmark tr > *:nth-child(1) {
		width: 33.33%;

	}

	#wrapper #editBenchmark tr > *:nth-child(2) {
		width: 66.66%;

	}
}
