fieldset {						
	width: 75%;	
	margin-bottom: 30px;
	margin-top: 30px;
}

fieldset table,
fieldset ul {
	width: 100%;
}

tr td,
tr th {
	padding: 10px;		
	vertical-align: middle;
}

@media only screen and (max-width: 767px) {
	body fieldset {
		width: 85%;
	}

	body #prims td, body #prims tr {
		width: 50%;
	}
}
