fieldset {
	width: 600px;
	margin: auto;	
	margin-bottom: 20px;
}

table {
	width: 100%;	
}

#content ul li {
	list-style: none;
	float: left;
	margin-right: 20px;
}

#delete{
	float:right;
}

#update{
	float: right;
	margin-right: 20px;	
}

table tr td:first-child {
	width: 180px;
	padding-left: 10px;
	vertical-align: middle;
}

input[type="text"], textarea {
	width: 200px; 
}

select {
	width: 210px;
}

textarea#description.error{
	border: 1px solid #ae0000;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}