fieldset {
	width: 600px;
	margin: auto;	
	margin-bottom: 20px;
}

table {
	width: 100%;	
}

h1 {
	word-wrap: break-word;
}

#content ul li {
	list-style: none;
	float: left;
	margin-right: 20px;
}

#delete{
	margin-top:5px;
	float:right;
}

#update{
	float: right;
	margin-top:5px;
	margin-right: 20px;	
}

#cancel{
	float:right;
	margin-top:5px;
	margin-right:20px;
}

table tr td:first-child {
	width: 180px;
	padding-left: 10px;
	vertical-align: middle;
}

input[type="text"], textarea {
	width: 90%; 
}

select {
	width: 90%;
}

textarea#description.error{
	border: 1px solid #ae0000;
	vertical-align: middle;
	padding: 5px;
}