fieldset {
	width: 600px;
	margin: auto;	
	margin-bottom: 20px;
}

table {
	width: 100%;	
}

table tr td {
	padding: 15px;
}

#content ul li {
	list-style: none;
	float: left;
	margin-right: 20px;
}

#delete{
	float:right;
}

#update{
	float: right;
	margin-right: 20px;	
}


table tr td:first-child {
	width: 180px;
	padding-left: 10px;
	vertical-align: middle;
}

textarea#description {
	resize: none;	
	height: 50px;
	border: 1px solid #13a5e1;
	padding: 0px 5px 0px 5px;
}

textarea#description.error{
	border: 1px solid #ae0000;
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
}