#editSpaceForm fieldset {
	width: 600px;
	margin: 50px auto 30px auto;	
}

#tblDefaultPerm tr td {
	padding: 0px;
	padding-right: 40px;	
}

#tblDefaultPerm tr th {
	text-align: left;
}

@media only screen and (max-width: 767px) {
	body #editSpaceForm fieldset {
		width: 85%;
	}

	#tblDefaultPerm {
		table-layout: auto;
		width: 100%;
	}

	#wrapper #tblDefaultPerm th, #wrapper #tblDefaultPerm td {
		width: 11px;
		text-align: center;
	}

	#wrapper #tblDefaultPerm tr > *:nth-child(1){
		width: 55px;
		text-align: left;
	}
	#wrapper #tblDefaultPerm tr td {
		padding-right: 0px;
	}

	#editSpaceForm table tr > *:first-child {
		width: 33.33%;
	}

	#editSpaceForm table tr > *:nth-child(2) {
		width: 33.33%;
	}
}
